/* 
    Document   : style
    Created on : 30/11/2013, 11:26:52 PM
    Author     : RENEE
    Description:
        Purpose of the stylesheet follows.
*/

root {
	display: block;
}
.info {
	display: none;
	position: fixed;
	width: 100%;
	background-color: #CCC;
}
* {
	margin: 0;
	padding: 0;
}
body {
	background-color: #CCC;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
}
table.test {
	width: 100%;
	max-width: 400px;
	margin: auto;
}
.page {
	width: 90%;
	max-width: 960px;
	margin: auto;
	background-color: #CCC;
	padding:0 5%;
	
}
.page.form
{	padding: 8% 5%;}
.info_user
{
	position:fixed !important;
	width:100%;
	top:0;
	left:0px;
	z-index:999;
	padding:2% 0px !important;
	border:none !important;}
div.main {
	list-style-type: none;
}

.instrucciones
{
	display: block;
	padding-top: 2%;
	padding-bottom: 2%;
	padding-left: 20px;
	font-size: 14px;
	color: #000;
	line-height: 140%;
	border: 2px dashed #093;
	margin-top: 5%;
	margin-right: 3%;
	margin-bottom: 3%;
	margin-left: 3%;
}
.pagination a
{
	display: inline-block;
	padding: 3px;
	border: 1px solid #CCC;
	color: #000;
	font-size: 13px;
	text-decoration: none;
	min-width:20px;
}
div.main div.check {
	background-image: url(../images/check.png);
	background-repeat: no-repeat;
	background-position: right center;
}
.index-contador {
	position: absolute;
	width: 7%;
	top: -2%;
	background-color: #069;
	color: #fff;
	font-size: 1.7em;
	text-align: center;
	padding-top: 1%;
	padding-bottom: 1%;
}
.pagination
{
	padding-top:15px;}
.pagination a.check
{
	background-color: #093;
	color: #FFF;
	border-top-color: #0C6;
	border-right-color: #0C6;
	border-bottom-color: #0C6;
	border-left-color: #0C6;
}

.pagination a.uncheck
{
	background-color: #C30;
	color: #FFF;
	border-top-color: #FFF;
	border-right-color: #FFF;
	border-bottom-color: #FFF;
	border-left-color: #FFF;
}
.item-f
{	text-align: center;
	padding: 2%;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	position: relative;
	margin-bottom: 2%;
	-webkit-box-shadow: 0px 1px 1px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow: 0px 1px 1px 0px rgba(50, 50, 50, 0.75);
	box-shadow: 0px 1px 1px 0px rgba(50, 50, 50, 0.75);}
div.main div.item {
	text-align: center;
	padding: 2%;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	position: relative;
	margin-bottom: 2%;
	-webkit-box-shadow: 0px 1px 1px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow: 0px 1px 1px 0px rgba(50, 50, 50, 0.75);
	box-shadow: 0px 1px 1px 0px rgba(50, 50, 50, 0.75);
}
.main div.class-0 {
	background-color: #FFF;
}
.main div.class-1 {
	background-color: #FFF;
}
ul.block {
	display: inline-block;
	list-style-type: none;
	margin: auto;
	width: 100%;
	min-width: 70%;
}
.hidden {
	display: none;
}
ul.block li {
	display: block;
	width: 96%;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #CCC;
	padding-top: 1%;
	padding-bottom: 1%;
}
ul.block li span {
	display: inline-block;
	width: 50%;
	text-align: left;
}
ul.block li label {
	display: inline-block;
	width: 13%;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #CCC;
	border-left-color: #CCC;
	cursor: pointer;
}
ul.block li:hover {
	background-color: #FFFF75;
}
.boton {
	display: block;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	background-color: #09F;
	padding-top: 1%;
	padding-right: 5%;
	padding-bottom: 1%;
	padding-left: 5%;
	width: 100%;
	margin: auto;
	max-width: 250px;
	text-align: center;
	text-transform: uppercase;
	font-size: 1.5em;
	color: #FFF;
	cursor:pointer;

}
/* resultados resultados resultados resultados resultados resultados resultados resultados resultados resultados resultados resultados resultados resultados resultados resultados resultados */



.resultados {
}
.resultados h1 {
	display: block;
	color: #333;
	font-size: 1.8em;
	margin-top: 10px;
	margin-bottom: 10px;
}
.resultados .row {
	text-align: center;
	padding: 2%;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	position: relative;
	margin-bottom: 2%;
	-webkit-box-shadow: 0px 1px 1px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow: 0px 1px 1px 0px rgba(50, 50, 50, 0.75);
	box-shadow: 0px 1px 1px 0px rgba(50, 50, 50, 0.75);
	background-color: #FFF;
}
.resultados .row .label {
	display: block;
	text-align: left;
	font-size: 1.2em;
	margin-bottom: 5px;
	font-weight: bold;
}
.resultados .row .texto {
	text-align: left;
	display: block;
	font-size: 1em;
	line-height: 120%;
}

.uncheck
{
	border: 1px solid #F00;
}