/* 
    Document   : style
    Created on : 30/11/2013, 11:26:52 PM
    Author     : RENEE
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}
.info
{
	display: block;
	position: fixed;
	width: 100%;
	background-color: #CCC;
}
*
{margin:0;
padding: 0;}

body
{
	background-color: #999;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
}


table.test{
	width: 100%;
	max-width: 400px;
	margin: auto;
}
.page
{
	width: 90%;
	max-width: 960px;
	margin: auto;
	background-color: #FFF;
	padding: 0px 5%;
}
div.main
{
	list-style-type: none;
}

div.main div.check
{
	background-image: url(../images/check.png);
	background-repeat: no-repeat;
	background-position: right center;
}
div.main div.item
{
	padding-top: 2%;
	padding-bottom: 2%;
	text-align: center;
}
.main div.class-0
{
	background-color: #D9F2FF;
}
.main div.class-1
{}

ul.block
{
	display: inline-block;
	list-style-type: none;
	margin: auto;
	min-width:70%
}
ul.block li
{
	padding-right: 2%;
	padding-left: 2%;
	display: block;
	width: 96%;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #CCC;
}
ul.block li span
{
	display: inline-block;
	width: 50%;
	text-align: left;
}
ul.block li label
{
	display: inline-block;
	width: 13%;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #CCC;
	border-left-color: #CCC;
}
ul.block li:hover
{
	background-color: #FFFF75;
}